@font-face {
    font-family:'Roboto' ;
    src: url(/police/Roboto-Medium.ttf) format('ttf');
}

body{
    font-family: 'Roboto-Light';
    font-size: small;
}

.title{
    font-family: 'Roboto';
    font-size: medium;
}

.button{
    font-family: 'Roboto';
    font-size: medium;
    background-color: #379EC1;
    
}

.centrer
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}